<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>게시글 작성</title>
    <style type="text/css">
        input {
            width: 300px;
            margin-bottom: 10px;
        }

        textarea {
            width: 300px;
            height: 100px
        }
    </style>
</head>
<body>

<script th:inline="javascript">
    if ([[${msg}]] != null) alert([[${msg}]]);
</script>

<div class="post_box">
    <form th:object="${form}" method="post">
        이름: <input type="text" th:field="*{name}"><br>
        내용: <textarea th:field="*{content}"></textarea> <br>
        <button type="submit">확인</button>
    </form>
</div>
<a href="/" style="text-decoration: none">돌아가기</a>

</body>
</html>